<div class="jumbotron">
  <div class="maintext">
    <h2>Welcome to the Ludlowe AFS website!</h2>

    <p>This is the website for the Fairfield Ludlowe High School American Field Service club. For more info on the club, go <%= link_to "here", about_path %>.</p>

  <br>

    <p>Club members, please stay tuned to this page for the latest updates on club activities. Feel free to post any questions you have, or any info that might be relevant to the club.</p>

  <br>

    <p>Click here to create a <%= link_to "new post", "posts/new", class: "btn btn-primary" %></p>
  </div>
</div>

<br>


<% @posts.each do |post| %>
  <%= link_to "[del]", post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "hiddendelete" %>
  <div class="jumbotron">
    <div class="nametext"><%= post.name %></div>
    <div class="mycontainer">
      <div class="maintext"><%= h(post.text).gsub(/\n/, '<br/>').html_safe %></div>
    </div>
    <div class="timetext"><%= post.created_at %></div>
  </div>
  <%= link_to "Show comments", post_path(post), class: "btn btn-primary" %>
  <br><br>
<% end %>
