<div class="jumbotron">
  <h2>New Post</h2>
  <p>Anyone can make a new post here, just make sure to include your name.</p>

<br>

  <%= form_for :post, url: posts_path do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </p>
 
    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text, class: "form-control" %>
    </p>

    <p>
      <%= recaptcha_tags %>
    </p>
 
    <p>
      <%= f.submit class: "btn btn-primary", value: "Make Post" %>
    </p>
  <% end %>
</div>